.contentRegistration{
    display: flex;
    flex-direction: column;
    width: 500px;
    padding: 0px 30px;
    background-color: #f7f7f7;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}
.title_register{
    margin-top: 24px;
}

@media(max-width:992px){
    .contentRegistration{
        width: 50%;
        padding: 0 30px;
    }
    .bgLogin{
        width: 50%;
    }
}

@media(max-width:768px){
    .contentRegistration{
        width: 100%;
    }
    .bgLogin{
        display: none
    }
}